name: GitHub CI
on: push

jobs:
  build-windows:
    name: Build (Windows)
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1

      - name: Build
        shell: pwsh
        run: .\build.ps1

      - uses: actions/upload-artifact@v1
        with:
          name: JitDasm-net472
          path: JitDasm/bin/Release/net472

      - uses: actions/upload-artifact@v1
        with:
          name: JitDasm-netcoreapp2.1
          path: JitDasm/bin/Release/netcoreapp2.1

      - uses: actions/upload-artifact@v1
        with:
          name: JitDasm-netcoreapp3.0
          path: JitDasm/bin/Release/netcoreapp3.0

  # Make sure it builds on Linux too
  build-ubuntu:
    name: Build (Ubuntu)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Build
        shell: pwsh
        run: ./build.ps1
